<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body> -->
    <!-- Index Page that displays all the campgrounds with their images -->
    <% layout('layouts/boilerplate') %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <div id='map' style='width: 100%; height: 500px;'></div>
    <h1 class='mx-5 my-5' style="font-family: 'Lato', sans-serif;">Campgrounds</h1>
    <div class="mb-3">
        <!-- to new.ejs located in the same folder -->
        <button class="btn btn-info mx-5 mb-5 px-2 py-2">
            <a href="/campgrounds/new" class="text-decoration-none badge">Add New Campground</a>
        </button>
    </div>

        <% for (let campground of campgrnd) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(campground.images.length) { %>
                        <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                        <% } else {%>
                            <img class="img-fluid" alt=""
                                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                        <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= campground.title %> </h5>
                            <p class="card-text"><%= campground.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= campground.location %></small>
                            </p>
                            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %> ">View <%= campground.title %></a>
                        </div>
                    </div>
                </div>
            </div>   
        <% } %>

        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
            const campground = { features: <%- JSON.stringify(campgrnd) %> }
        </script>

        <script src="/javascripts/clusterMap.js"></script>
<!-- </body>
</html> -->